/BTL_QLNS/nbproject/private/
/BTL_QLNS/build/
/BTL_QLNV/nbproject/private/
/BTL_QLNV/build/
/Test giao diện/nbproject/private/
/Test giao diện/build/
/testgiaodien/nbproject/private/
/testgiaodien/build/
/BTL/BTL/target/
